.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 2rem;
    transition: 1s ease;
    .logo-parents{
        display: flex;
        align-items: center;
        span{
            color: white;
            margin-left: 0.5rem;
            font-size: 33px;
            letter-spacing: 2px;
        }
    }
}
.theme-mode-parents{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    span{
        color:#1DF;
    }
}
/* .dark{
    background-color: red;
    width: 100%;
    height: 100vh;
} */
