.sidebar-table{
    display: flex;
}
.sidebar{
    width: 250px;
    background-color: white;
    // height: 650px;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    .message{
        background-color: #E9EDF0;
        padding: 10px;
        width: 100%;
        height: 100vh;
        border-radius: 10px;
    }
    
}

.sidebar h1{
    padding: 1rem 0 0 1rem;
    font-size: 20px;
}
.inpt{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.inpt .input{
    height: 30px;
    border-radius: 0.3rem;
    border-color: #E9EDF0;
    padding-left: 20px;
}
.inpt .input::placeholder{
    padding-left: 0.5rem;
}

.inpt .btnn{
    height: 30px;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #348FE2;
    color: white;
}
