*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.light{
    background-color: #E9EDF0;
    // height: 100vh;
    transition: 1s ease;
    .header{
        .logo-parents{
        span{
            color: black;
            transition: 1s ease
        }
    }
    }
    .sidebar{
        transition: 1s ease;
        h1{
            transition: 1s ease;
        }
        .inpt{
            input{
                border:0.2px solid;
            }
            .btnn{
                border: none;
                &:checked{
                    transform:scaleX(1,3);
                }
            }
        }
    }
    
}
.dark{
    background-color: black;
    transition: 1s ease;
    width: 100%;
    // height: 100vh;
    
    .header{
        background-color: #4e4d4d;
        transition: 1s ease;
        .theme-mode-parents{
            span{
                color: rgb(160, 17, 255);
                transition: 1s ease;
            }
            
        }
    }
    .sidebar{
        background-color: #4e4d4d;
        transition: 1s ease;
.message{
    background-color: #6e6e6e;
    p{
        color: white;
    }
}
        h1{
            color: white;
            transition: 1s ease;

        }
        .inpt{
            input{
                background-color: inherit;
                &::placeholder{
                    color: white;
                }
                color: white;
            }
            .btnn{
                border: none;
            }
        }
    }
    .table{
        thead,
        tbody{
            color: rgb(225, 223, 223, 0.8), ;
            background-color: #4e4d4d;

        }
        .table-header{
            h3{
                color: white;
            }
            .check-table{
                div{
                    background-color: #4e4d4d;
                    transition: 1s ease;
                }
            }
        }
    }
}
